/* src/App.css */
.container {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 26px;
  box-shadow: 0 20px 7px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort-options {
  margin-bottom: 20px;
}

.sort-options label {
  font-size: 1em;
  color: #333;
}

.sort-options select {
  padding: 10px;
  font-size: 1em;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f4f4f4;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pagination button:hover {
  background-color: #ddd;
}
